.board{

    min-height: 80vh;
    width: 80%;
    margin: 60px auto 0 auto;
    padding: 20px;
    border-radius: 12px;
    background: url('https://chaimzushe.github.io/memory-game/assets/images/mahogany1.jpg');
}

.actions{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}