.board{

    height: 100vh;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    background: url('https://chaimzushe.github.io/memory-game/assets/images/mahogany1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions{
    display: flex;
    margin: 30px 0px;
    height: 300px;
    align-items: center;
}

.piles{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end-game{
    min-width: 200px;
    padding: 12px;
    border-radius: 42px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #980000;
    font-size: 26px;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    &:hover{
       color: #980000;
       background-color: white;
        
    }
}

.card {
    height: 220px;
    width: 150px;
    border-radius: 12px;
    margin: 10px;
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;

  }
  
  
  