.deck  {

    position: relative;
   width: 300px;
}

.deck .card {
    position: absolute;
    border: 1px solid gray;
}

@for $i from 1 through 20 {
    
    .deck .card:nth-last-child(#{$i})  {
        top: 0px  +$i;
        right: 0px + $i;
       
    }
}



