.deck  {

    position: relative;
    width: 150px;
    height: 220px;
    margin: 36px;
    
}

.deck .card {
    border: 1px solid gray;
}

.deck .card {
    position: absolute;
}

@for $i from 1 through 45 {
    
    .deck .card:nth-last-child(#{$i})  {
        top: 0px  +$i;
        left: 0px + $i;
        display: none;
    }
  
}

.highlite{
    background-color: #f9f8a7;
}

.deck .card:nth-last-child(-n+10) {
    /*declarations*/
    display: block;
}



