.scores{
    list-style: none;
}

.score{
    background-color: #381a1a;;
    color:white;
    padding: 12px;
    font-size: 30px; 
    border-radius: 14px;
    width: 200px;
    text-align: center;
    position: relative;
    margin-top: 22px;
    font-family: sans-serif;
}

.winner {   
    &:before{
        content: 'Winner!';
        animation: tada 1s infinite ease-in;
        background-color: #2540b7;
        display: block;
        position: absolute;
        top: -15px;
        padding: 8px;
        border-radius: 12px;
        font-size: 17px;
        right: 0px;

    }
}

.new-game{
  display: block;
    border: 2px solid brown;
    color: brown;
    padding: 12px;
    border-radius: 50px;
    text-align: center;
    width: 200px;
    outline: none;
    &:hover{
      color: white;
      background-color: brown;
      cursor: pointer;
      height: 50px;
      font-size: 18px;
    }
}

  
  
@keyframes tada {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  
 